/* 
ESTILIZAR TABELAS GUIAS:
https://www.youtube.com/watch?v=iuSKGuWWNGA
https://www.youtube.com/watch?v=Ay8BXbAmEYM
https://www.youtube.com/watch?v=biI9OFH6Nmg
 */

:root {
    --background-color: #FFFBDA;
    --thead-font-color: #ED9455;
    --itens-color: #FFBB70;
}

.village__shop__table {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border: 4mm ridge rgba(220, 152, 50, 0.6);
    background-color: var(--background-color);
}

.village__shop__table__caption {
    font-size: 5rem;
    color: darkorange;
}

.village__shop__table__head {
    color: var(--thead-font-color);
}

.village__shop__table__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.village__shop__table__body__tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.village__shop__table__body__tr__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.village__shop__table__body__th {
    color: var(--itens-color);
}

.village__shop__table__body__td {
    color: var(--itens-color);
}